{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for key in field_keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if books|length %}
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.USBN }}</td>
                        <td><a href="{% url 'book' id=book.id %}">{{ book.titulo }}</a></td>
                        <td>{{ book.autor }}</td>
                        <td>{{ book.estado }}</td>
                        <td>{{ book.dni }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ field_keys|length }}">No hay libros</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}