{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for key in field_keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if clientes|length %}
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.dni }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>{{ cliente.domicilio }}</td>
                        {% if cliente.estado > 0 %}
                            <td>{{ cliente.estado }}</td>
                            <td>{{ cliente.ISBN }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ field_keys|length }}">No hay clientes</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}