{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for key in field_keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if clients|length %}
                {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.dni }}</td>
                        <td><a href="{% url 'client' id=client.id %}">{{ client.nombre }}</a></td>
                        <td>{{ client.celular }}</td>
                        <td>{{ client.domicilio }}</td>
                        {% if client.estado > 0 %}
                            <td>{{ client.estado }}</td>
                            <td>{{ client.ISBN }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ field_keys|length }}">No hay client</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}