{% extends 'base.html' %}

{% block content %}
    <div class="details">
        <h3>{{ book.titulo }}</h3>
        <p><span>AUTOR:</span> {{ book.autor.nombre }} </p>
        <p><span>GENERO:</span> {{ book.genero.nombre }} </p>
        <p><span>ISBN: </span>{{ book.isbn }}</p>
        {% if book.disponible %}
            <p><span> DISPONIBILIDAD: Disponible </span> </p>
        {% else%}
            <p><span> DISPONIBILIDAD: No disponible</span> </p>
        {%endif%}
    </div>

    <div class="action-button-bar">
        <a href="{% url 'updatebook' book.id %}" class="button">Editar</a>
        <a href="{% url 'deletebook' book.id %}" class="button">Eliminar</a>
        <a href="{% url 'books' %}" class="button">Cancelar</a>
    </div>
{% endblock %}