{% extends 'base.html' %}

{% block content %}
    <h3>{{ prestamo.libro }} - {{ prestamo.cliente }}</h3>

    <div class="details">
        <p><span>DNI:</span> {{ prestamo.cliente.dni }} </p>
        <p><span>Fecha de Prestamo:</span> {{ prestamo.fecha_prestamo }} </p>
        {% if prestamo.devolucion %}
            <p><span> DEVOLUCION: El libro ha sido devuelto por el cliente </span> </p>
        {% else%}
            <p><span> DEVOLUCION: El libro no ha sido devuelto por el cliente</span> </p>
        {%endif%}
    </div>

    <div class="action-button-bar">
        <a href="{% url 'updateprestamo' prestamo.id %}" class="button">Devolver Libro Prestado</a>
        <a class="cancel" href="{% url 'prestamos' %}" class="button">Cancelar</a> 
    </div>
    
{% endblock %}