{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <fieldset>
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {{ field }}
            </fieldset>
        {% endfor %}
        <p role="alert">Los campos con un asterisco <span aria-hidden="true">(*)</span> son requeridos</p>
        <input type="submit" value="Registrar">
        {{ form.errors }}
    </form>
{% endblock %}