{% extends 'base.html' %}

{% block content %}
    <h3>{{ prestamo.libro }} - {{ prestamo.cliente }}</h3>
    <br>

    <ol>
        <li><label> DNI: </label>{{ prestamo.fecha_prestamo }}</li>
        <li><label> e-mail: </label>{{ prestamo.fecha_devolcuion }}</li>
        
        <br>
        {% if prestamo.devolucion %}
            <li><label> DEVOLUCION: El libro ha sido devuelto por el cliente </label> </li>
        {% else%}
            <li><label> DEVOLUCION: El libro no ha sido devuelto por el cliente</label> </li>
        {%endif%}
        
    </ol>
    <a href="{% url 'updateprestamo' prestamo.id %}" class="button">Devolver Libro Prestado</a>
    <a href="{% url 'prestamos' %}" class="button">Cancelar</a>

{% endblock %}