{% extends 'base.html' %}

{% block content %}
    <h3>{{ book.titulo }}</h3>
    <br>
    <ol>
        <li><label> AUTOR: </label>{{ book.autor.nombre }}</li>
        <li><label> GENERO: </label>{{ book.genero.nombre }}</li>
        <li><label> ISBN: </label>{{ book.isbn }}</td>
        <br>
        {% if book.disponible %}
            <li><label> DISPONIBILIDAD: Disponible </label> </li>
        {% else%}
            <li><label> DISPONIBILIDAD: No disponible</label> </li>
        {%endif%}
        
    </ol>
    <a href="{% url 'updatebook' book.id %}" class="button">Editar</a>
    <a href="{% url 'deletebook' book.id %}" class="button">Eliminar</a>
{% endblock %}