{% extends 'base.html' %}
{% block heading_2 %}{{ book.titulo }}{% endblock %}
{% block content %}
    {% csrf_token %}
    <h3>Detalle del Libro</h3>
   
    <div class="details">
        <p><span>Título:</span> {{ book.titulo }}</p>
        <p><span>Autor:</span> {{ book.autor.nombre }}</p>
        <p><span>Genero:</span> {{ book.genero.nombre }} </p>
        <p><span>Isbn:</span> {{ book.isbn }}</p>
        <p><span>Borrado:</span> {{ book.borrado }}</p>
        <p><span>Disponible:</span> {{ book.disponible }}</p>
    </div>

    <div class="action-button-bar">
        <a href="{% url 'updatebook' book.id %}" class="button">Editar</a>
        <a href="{% url 'deletebook' book.id %}" class="button">Eliminar</a>
    </div>
{% endblock %}
