{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <h1>Detalle del Cliente</h1>

    <p>Nombre: {{ clientes.nombre }}</p>
    <p>Apellido: {{ clientes.apellido }}</p>
    <p>DNI: {{ clientes.dni }} </p>
    <p>Fecha de Nacimiento: {{ clientes.fecha_nacimiento }} </p>
    <p>e-mail: {{ clientes.email }}</p>
    
    
    <a href="{% url 'updateclient' clientes.id %}">Editar Cliente</a>
    <a href="{% url 'deleteclient' clientes.id %}">Eliminar Cliente </a>
    #<a href="{% url 'prestamo' clientes.id %}">Listar Pagos del Cliente</a>
{% endblock %}
